body {
	font-size: 18px;
	font-family: "Helvetica", Arial, sans-serif;
}

a {
  color: #003663;
}

.del-btn {
	color: #7A0026;
}

div {
	color: #005B7F;
	padding: 5px 0;
}

[contenteditable]:hover:after {
  content: ' click to edit';
  font-style: italic;
  font-size: 12px;
  font-family: sans-serif;
  color: #ccc;
  .text-stroke(0);
}
  
[contenteditable]:hover, [contenteditable]:focus {
  background: #FFFFD3;
}

[contenteditable]:focus {
  padding: 5px;
}

[contenteditable]:focus:after {
  content: '';
}